.viewport {
  width: 100%;
  height: 100svh;
  overflow-y: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.viewport::-webkit-scrollbar {
  display: none;
}

.nibras {
  height: 100%;
  margin: 0 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: var(--mantine-spacing-lg);
}
