.main {
  height: 100vh;
  width: 100vw;
  background: var(--mantine-color-gray-0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer {
  margin: var(--mantine-spacing-md) 0;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-gray-7);
}
