:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

html, body {
  background: var(--mantine-color-gray-0);
  background-size: cover;
}

#root {
  overflow: hidden;
  background: var(--mantine-color-gray-0);
}

