:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

:root,
.light,
.light-theme {
  --blue-1: #fafdff;
  --blue-2: #f3f9ff;
  --blue-3: #e4f4ff;
  --blue-4: #d5edff;
  --blue-5: #c4e3ff;
  --blue-6: #b0d6fd;
  --blue-7: #96c4f4;
  --blue-8: #6dadec;
  --blue-9: #1f6bad;
  --blue-10: #085d9d;
  --blue-11: #226eb0;
  --blue-12: #1c3d5c;

  --blue-a1: #0099ff05;
  --blue-a2: #0080ff0c;
  --blue-a3: #0098ff1b;
  --blue-a4: #0092ff2a;
  --blue-a5: #0186ff3b;
  --blue-a6: #007bf94f;
  --blue-a7: #0070e569;
  --blue-a8: #0070de92;
  --blue-a9: #0057a2e0;
  --blue-a10: #00589af7;
  --blue-a11: #0058a4dd;
  --blue-a12: #002548e3;

  --blue-contrast: #fff;
  --blue-surface: #f0f8ffcc;
  --blue-indicator: #1f6bad;
  --blue-track: #1f6bad;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    :root,
    .light,
    .light-theme {
      --blue-1: oklch(99.3% 0.0062 249.4);
      --blue-2: oklch(98% 0.0117 249.4);
      --blue-3: oklch(96.1% 0.028 249.4);
      --blue-4: oklch(93.6% 0.0418 249.4);
      --blue-5: oklch(90.3% 0.0546 249.4);
      --blue-6: oklch(86.1% 0.0677 249.4);
      --blue-7: oklch(80.6% 0.0841 249.4);
      --blue-8: oklch(72.9% 0.1129 249.4);
      --blue-9: oklch(51.7% 0.1268 249.4);
      --blue-10: oklch(46.8% 0.1268 249.4);
      --blue-11: oklch(52.6% 0.1268 249.4);
      --blue-12: oklch(35.1% 0.0671 249.4);

      --blue-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
      --blue-a2: color(display-p3 0.0196 0.4667 0.9137 / 0.044);
      --blue-a3: color(display-p3 0.0118 0.5059 0.9608 / 0.095);
      --blue-a4: color(display-p3 0.0078 0.4902 0.949 / 0.146);
      --blue-a5: color(display-p3 0.0039 0.4549 0.9451 / 0.208);
      --blue-a6: color(display-p3 0.0039 0.4118 0.9176 / 0.279);
      --blue-a7: color(display-p3 0.0039 0.3765 0.8471 / 0.377);
      --blue-a8: color(display-p3 0 0.3608 0.8196 / 0.514);
      --blue-a9: color(display-p3 0 0.2549 0.5686 / 0.789);
      --blue-a10: color(display-p3 0 0.2431 0.5216 / 0.844);
      --blue-a11: color(display-p3 0 0.2588 0.5765 / 0.777);
      --blue-a12: color(display-p3 0 0.1098 0.2431 / 0.859);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.949 0.9725 1 / 0.8);
      --blue-indicator: oklch(51.7% 0.1268 249.4);
      --blue-track: oklch(51.7% 0.1268 249.4);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fff;
}

:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;

  --radius-1: 0.25rem;
  --radius-2: 0.5rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: .8125rem;
  --font-size-base: 0.9375rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.375rem;
}
