spring:
  application:
    name: gju-chatbot
  datasource:
    url: jdbc:postgresql://localhost:5432/gju
    username: gju
    password: gju
  ai:
    chat:
      client:
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        model: gpt-4.1-mini
    vectorstore:
      pgvector:
        initialize-schema: true
        remove-existing-vector-store-table: true
        schema-validation: true
