.header {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
  justify-content: center;
  align-items: center;
  margin-top: var(--mantine-spacing-lg);
  margin-bottom: var(--mantine-spacing-xl);
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5rem;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.chatInterface {
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: column;
  bottom: 0;
  border-top-right-radius: var(--mantine-radius-lg);
  border-top-left-radius: var(--mantine-radius-lg);
  background: var(--mantine-color-gray-0);
}

.main {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  width: 800px;
  display: flex;
  flex-direction: column;
}

@keyframes kenburns-bottom-alternate-reverse {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }

  100% {
    transform: scale(1.20) translateY(7px);
    transform-origin: bottom;
  }
}

.botPending {
  margin-top: 2.5rem;
  margin-bottom: 5.1rem;
  fill: var(--mantine-color-primary-9);
  animation: kenburns-bottom-alternate-reverse 1s ease-in-out 0s infinite alternate-reverse none;
}

.userMessageBubble {
  display: flex;
  margin-left: auto;
  padding: 0.5rem 0.8rem;
  border-radius: var(--mantine-radius-md);
  background: #C4E3FF;
  width: fit-content;
  max-width: 75%;
}

.botMessageMarkdown {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;
  word-wrap: break-word;
  white-space: normal;
}
