.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  gap: var(--mantine-spacing-lg);
}

.chatInterface {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-top-right-radius: var(--mantine-radius-lg);
  border-top-left-radius: var(--mantine-radius-lg);
  background: var(--mantine-color-gray-0);
  gap: var(--mantine-spacing-xl);
}

.disclaimer {
  margin-bottom: 0.5rem;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  text-align: center;
}

@keyframes kenburns-bottom-alternate-reverse {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }

  100% {
    transform: scale(1.20) translateY(7px);
    transform-origin: bottom;
  }
}

.botPending {
  fill: var(--mantine-color-primary-9);
  animation: kenburns-bottom-alternate-reverse 1s ease-in-out 0s infinite alternate-reverse none;
}

.userMessage {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.6rem;
  border-radius: var(--mantine-radius-md);
  background: #F0F0F0;
  width: 100%;
}

.assistantMessage {
  display: flex;
  flex-direction: column;
}

.assistantAvatar {
  margin-top: 0.5rem;
  margin-bottom: 5rem;

  img {
    animation: pop 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &[data-thinking="true"] {
    img {
      animation: thinking 2s ease-in-out infinite, pop 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes thinking {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
