.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  gap: var(--mantine-spacing-lg);
}

.chatInterface {
  width: 100%;
  position: sticky;
  bottom: 0;
}

.chatInput {
  display: flex;
  flex-direction: column;
  background: var(--mantine-color-gray-0);
  border-top-right-radius: var(--mantine-radius-lg);
  border-top-left-radius: var(--mantine-radius-lg);
  gap: var(--mantine-spacing-xl);
}

.scrollDownButton {
  position: absolute;
  bottom: 2rem;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateX(-50%) !important;
  opacity: 0;
  box-shadow: var(--mantine-shadow-xs);
  left: 50%;

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }
}

.disclaimer {
  margin-bottom: 0.5rem;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  text-align: center;
}

.userMessage {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.6rem;
  border-radius: var(--mantine-radius-md);
  background: #F0F0F0;
  width: 100%;
}

.assistantMessage {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }

  table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
  }
}

.assistantAvatar {
  margin-top: 0.5rem;
  margin-bottom: 4rem;

  img {
    animation: pop 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }

  &[data-avatar-state="THINKING"] {
    img {
      animation: thinking 2s ease-in-out infinite, pop 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes thinking {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/* @media (max-width: 1000px) { */
/*   .assistantMessage { */
/*     table { */
/*     width: 100vw; */
/*     max-width: 100vw; */
/*     margin-left: calc(-50vw + 50%); */
/*     margin-right: calc(-50vw + 50%); */
/*     } */
/*   } */
/* } */
