.main {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  width: 800px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  margin-bottom: 8rem;
}

.header {
  font-size: 2rem;
  font-weight: 600;
}
