.newChatButton {
  opacity: 0;
  box-shadow: var(--mantine-shadow-xs);
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.startChatInterface {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  flex-grow: 1;
}
