.main {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 8rem 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  font-size: 2rem;
  font-weight: 600;
}

.textField {
  width: 40rem;
  border-radius: 1.5rem;
}
