.viewport {
  width: 100%;
  overflow-y: scroll;
}

.app {
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: var(--mantine-spacing-lg);
}

.header {
  font-size: 2.5rem;
  font-weight: var(--mantine-heading-font-weight);
  margin: 0;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  z-index: 20;
  width: 100%;
  padding: 1.5rem 2rem;
}

.newChatButton {
  opacity: 0;
  box-shadow: var(--mantine-shadow-xs);
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }
}

.chatInterface {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  flex-grow: 1;
}

.disclaimer {
  margin-bottom: 0.75rem;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  text-align: center;
}

@media (max-width: 500px) {
  .header {
    font-size: 2rem;
  }
}
