.main {
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-top: 4rem;
  gap: var(--mantine-spacing-lg);
}

.header {
  font-size: 2.5rem;
  font-weight: var(--mantine-heading-font-weight);
  margin: 0;
}

.chatInterface {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  flex-grow: 1;
}

.disclaimer {
  margin-bottom: 0.5rem;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  text-align: center;
}
