.newChatButton {
  opacity: 0;
  box-shadow: var(--mantine-shadow-xs);
  transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  z-index: 20;
  width: 100%;
  padding: 1.5rem 2rem;
}

.home {
	position: relative;
}

.homeContent {
}

.startChatInterface {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-xs);
	flex-grow: 1;
}
