.root {
  --button-hover: var(--mantine-color-gray-1);
  --button-bg: var(--mantine-color-gray-0);
  --button-radius: var(--mantine-radius-lg);
  --button-bd: 1px solid var(--mantine-color-default-border);
}

.section {
  color: var(--mantine-color-primary-filled);
}

.label {
  color: var(--mantine-color-text);
  font-weight: 400;
}
