.root {
  --button-bg: var(--mantine-primary-color-contrast);
  --button-hover: var(--mantine-color-default-hover);
  --button-bd: 1px solid var(--mantine-primary-color-1);
  --button-radius: var(--mantine-radius-lg);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.section {
  color: var(--mantine-color-dimmed);
}

.label {
  color: var(--mantine-color-text);
  font-weight: 450;
  font-size: var(--mantine-font-size-sm);
}
