spring:
  application:
    name: gju-chatbot

  datasource:
    url: jdbc:postgresql://db:5432/${DB_NAME:chatbot}
    username: ${DB_USER:chatbot}
    password: ${DB_PASSWORD:chatbot}

  security:
    user:
      name: ${APP_USER:chatbot}
      password: ${APP_PASSWORD:chatbot}

  web:
    resources:
      cache:
        cachecontrol:
          max-age: 31536000s
          public: true
          must-revalidate: true
          no-transform: true

  sql:
    init:
      mode: always

  servlet:
    multipart:
      max-file-size: -1

  ai:
    model:
      chat: openai
      embedding: openai
    chat:
      client:
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4.1-mini
          temperature: 0.2
      embedding:
        options:
          model: text-embedding-3-small
          dimensions: 1536

    vectorstore:
      pgvector:
        schema-validation: true
  output:
    ansi:
      enabled: DETECT

logging:
  level:
    org:
      springframework:
        ai: DEBUG

server:
  forward-headers-strategy: native

service:
  ocr-scanner:
    base-url: ${OCR_BASE_URL:http://localhost:8000}
    scanner-path: /scan
