spring:
  application:
    name: gju-chatbot
  datasource:
    url: jdbc:postgresql://db:5432/gju
    username: gju
    password: gju
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: -1
  ai:
    model:
      chat: openai
      embedding: openai
    chat:
      client:
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-5.2
          temperature: 1
      embedding:
        options:
          model: text-embedding-3-small
          dimensions: 1536

    vectorstore:
      pgvector:
        remove-existing-vector-store-table: true
        schema-validation: true
  output:
    ansi:
      enabled: DETECT

logging:
  level:
    org:
      springframework:
        ai: DEBUG

service:
  ocr-scanner:
    base-url: ${OCR_BASE_URL:http://localhost:8000}
    scanner-path: /scan

document-metadata:
  file-path: document-metadata.yaml
