spring:
  application:
    name: gju-chatbot
  datasource:
    url: jdbc:postgresql://db:5432/gju
    username: gju
    password: gju
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: -1
  ai:
    model:
      chat: openai
      embedding: jina
    chat:
      client:
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
    jina:
      base-url: https://api.jina.ai
      api-key: ${JINA_API_KEY}
      embedding:
        embeddings-path: /v1/embeddings
        metadata-mode: EMBED
        options:
          model: jina-embeddings-v3
          task: none
          dimensions: 1024
          late-chunking: false

    vectorstore:
      pgvector:
        remove-existing-vector-store-table: true
        schema-validation: true

services:
  markdown-converter:
    base-url: http://localhost:8000
    converter-path: /convert
