spring:
  application:
    name: gju-chatbot
  datasource:
    url: jdbc:postgresql://db:5432/gju
    username: gju
    password: gju
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: -1
  ai:
    model:
      chat: openai
      embedding: openai
    chat:
      client:
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
      embedding:
        options:
          model: text-embedding-3-small
          dimensions: 1536
    jina:
      base-url: https://api.jina.ai
      api-key: ${JINA_API_KEY}
      embedding:
        embeddings-path: /v1/embeddings
        metadata-mode: EMBED
        options:
          model: jina-embeddings-v3
          task: text-matching
          dimensions: 1024
          late-chunking: true

    vectorstore:
      pgvector:
        remove-existing-vector-store-table: true
        schema-validation: true
  output:
    ansi:
      enabled: DETECT

logging:
  level:
    edu:
      gju:
        chatbot:
          gju_chatbot:
            batchingstrategy: DEBUG

service:
  ocr-scanner:
    base-url: ${OCR_BASE_URL:http://localhost:8000}
    scanner-path: /scan
