.main {
  display: flex;
  justify-content: center;
  padding: 8rem 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}

.textField {
  width: 40rem;
  padding: var(--space-1) var(--space-6);
  background: var(--gray-3);
  border-radius: 1.5rem;
}
