.header {
	display: flex;
	flex-direction: column;

	h1 {
	  font-size: 2.5rem;
	  font-weight: var(--mantine-heading-font-weight);
  	}

  	margin-bottom: var(--mantine-spacing-lg);
}

.intro {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
}

@media (max-width: 500px) {
  .header {
    font-size: 2rem;
  }
}
