.root {
  background: transparent;
  --ai-hover: transparent;
  border: none;
  padding-top: 0.275rem;
  padding-bottom: 0.3rem;
  border-radius: var(--mantine-radius-xl);
}

.root[data-disabled="true"] {

  .icon {
    color: var(--mantine-color-disabled);
  }
}

.icon {
  --ai-hover-color: var(--mantine-primary-color-filled-hover);
  color: var(--mantine-color-primary-filled);
}
