.root {
  background: transparent;
  --ai-hover: transparent;
  border: none;
  height: 2.25rem;
}

.root[data-disabled="true"] {

  .icon {
    color: var(--mantine-color-disabled);
  }
}

.icon {
  --ai-hover-color: var(--mantine-primary-color-filled-hover);
  color: var(--mantine-color-primary-filled);
}
