.userInput {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: space-between;
  background: var(--mantine-primary-color-contrast);
  border-radius: 5rem;
  border: 1px solid var(--mantine-color-gray-1);
  padding-left: 0.8rem;
  padding-right: 0.3rem;
}
