name: CI

on:
  push:
    branches:
      - main
    paths:
      - "api/**"
      - "client/**"
      - ".github/workflows/ci.yml"
      - "Dockerfile"
      - "ocr/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/nibras:main
            ghcr.io/${{ github.repository_owner }}/nibras:sha-${{ env.SHORT_SHA }}

